@import '@blueprintjs/core/lib/scss/variables.scss';

.bp4-menu-item {
  padding: 3px 7px;
}

.bp4-input,
.bp4-input.bp4-active  {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid $pt-divider-black;
}


.bp4-input:focus {
  border: none;
  box-shadow: inset 0 0 0 1px #2d72d2, 0 0 0 2px rgb(45 114 210 / 30%), inset 0 1px 1px rgb(17 20 24 / 20%);
}

.bp4-overlay-backdrop {
  background-color: transparent;
}