@import '@blueprintjs/core/lib/scss/variables.scss';

// a bit less air in menus
.bp4-menu-item {
  padding: 3px 7px;
}

// no glass for modals
.bp4-overlay-backdrop {
  background-color: transparent;
}

// eliminate bevel border for inputs
.bp4-input,
.bp4-input.bp4-active  {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid rgb(17 20 24 / 20%);
}
.bp4-dark .bp4-input {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid $pt-dark-divider-white;
  background-color: transparent;
}

.bp4-input:focus {
  border: none;
  box-shadow: inset 0 0 0 1px #2d72d2, 0 0 0 2px rgb(45 114 210 / 30%), inset 0 1px 1px rgb(17 20 24 / 20%);
}
