

.fui-DialogSurface__backdrop {
  background-color: transparent !important;
}

// no outline for fluent inputs
.fui-Input input[type="text"]:focus,
.fui-Input input[type="number"]:focus,
.fui-Textarea textarea:focus {
  outline: none;
}

// offset tabset inside forms
.formik-Form .fui-TabList {
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: 15px;
}
