



.tooltip {
  width: 100%;
  height: 0;
}

.validatedFormGroup {
  margin: 0 0 -3px !important;
}

.validationPopup {
  margin-top: -10px;
}

.validationPopupWithHelper {
  margin-top: -33px;
}

.dialogFooter {
  margin-top: 30px !important;
}

.dialogFooterActions {
  justify-content: space-between !important;
}

.dialogFooterActionsLeft {
  :global {
    .bp4-button:first-of-type {
      margin-left: 0 !important;
    }
  }
}

.dialogFooterActionsRight {
  margin-left: auto;
}

.dialog {
  :global {
    .bp4-control-group:not(.bp4-vertical) > * {
      margin-right: 10px !important;
    }
    .bp4-control-group:not(.bp4-vertical) > *:last-of-type {
      margin-right: -1px !important; 
    }
  }
}

.dialog .dialogActionButton {
  min-width: 90px;
}